<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/assets/css/header.css">

</head>

<div class="header-top">
    <div class="left-header">
    <label for="image-upload">
        <img src="/static/assets/img/logo.png" alt="Imagen 1" class="logoHeader">
    </label>
    </div>
    <div class="right-header">
    <ul>
        <li><a href="/horario/"><button class="header-button">Ver horario</button></a></li>
        <li><a href="/home_estudiante/"><button class="header-button">Ver materias</button></a></li>
        <li><a href="../perfilUsuario/perfilUsuario.html"><button class="header-button" id="verPerfil">Ver perfil</button></a></li>
    </ul>
    <div class="img-perfil">
        <img src="/static/assets/img/perfil.png" alt="">
    </div>

    
    </div>
    <div class="desktop-menu inactive">
    <div class="menu-options">
        
        <img src="/static/assets/img/perfil.png" alt="">
        <button><a href="../perfilUsuario/perfilUsuario.html" class="title">Mi perfil</a></button>
        <button><a href="../clasesCursadas/clasesCursadas.html">Clases Cursadas</a></button>
        <button><a href="/login/login.html">Cerrar sesión</a></button>
    </div>
    </div>
    
</div>
