<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/assets/css/login_select.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500&display=swap" rel="stylesheet">
    <title>Inicio de sesión</title>
</head>
<body>
    <div class="panelIzq">
        <div class="contenedorFotoEst">
            <img src="/static/assets/img/estudiante.png">
            <p>Ingresar como estudiante</p>
            <a href="/login/"><button>Iniciar Sesión</button></a>
        </div>
    </div>
    <div class="panelDer">
        <div class="contenedorFotoProf">
            <img src="/static/assets/img/profesor.png">
            <p>Ingresar como profesor</p>
            <a href="../iniciarsesiProfesor/iniciarSesionProf.html"><button>Iniciar Sesión</button></a>
        </div>
    </div>
</body>
</html>