/* Estilos del encabezado */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100vh;
    min-height: 100%;
    font-family: 'DM Sans', sans-serif;
}

header {
    background-color: #FF6E1A;
    text-align: center;
    padding: 0px 10;
    position: relative;
    height: 11%;
}

.header-top {
    display:flex;
    justify-content: space-between;
    height: 100%;
    /*align-items: center;*/
}

.left-header {
    position: relative;
}

.logoHeader {
    margin-top: 0px;
    height: 100%;
}

.image-upload {
    cursor: pointer;
}

.half-circle {
    width: 230px;
    height: 110px;
    background-color: #fff;
    border-bottom-right-radius: 80px;
    border-top-right-radius: 80px;
}

.right-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.right-header ul {
    display: inline-block;
    margin-right: 25px;
}

.right-header li {
    display: inline-block;
    margin: 0 10px;

}

.header-button {
    background-color: #FF6E1A;
    color: #fff;
    height: 45px;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
}

.header-button:hover {
    background-color: #ffffff6f;
}


.img-perfil {
    height: 50px;
    width: 50px;
}

.img-perfil img {
    height: 100%;
    width: 100%;
}
.desktop-menu {
    /* Estilos base del menú */
    position: absolute;
    top: 75%; /* Ajusta la distancia desde la parte superior */
    right: 3%; /* Ajusta la distancia desde el borde derecho */
    width: 200px;
    background-color: #ccc; /* Fondo oscuro */
    border: 1px solid #222; /* Borde más oscuro */
    border-radius: 20px; /* Bordes más redondeados */
    padding: 10px;
    display: none;
    
  }
.desktop-menu.active {
    display: block;
    /* Otros estilos que desees aplicar cuando el menú está activo */
  }
  
.menu-options {
    display: flex;
    flex-direction: column;

  }
  
.menu-options button {
    background-color: #555; /* Color de fondo más oscuro */
    border: none;
    padding: 8px;
    margin: 4px 0;
    border-radius: 20px; /* Crea un rectángulo circular */
    cursor: pointer;
    text-align: center; /* Alinea el texto al centro */
    display: block;
    width: 100%; /* Ocupa todo el ancho */
    margin-bottom: 5px;
    
  }  
.menu-options button a {
    color: white; /* Color del texto */
    text-decoration: none; /* Elimina subrayados */
    font-family: 'DM Sans', sans-serif; /* Cambia la fuente del texto */
  }
  
.menu-options button:hover a {
    color: rgb(188, 188, 169); /* Color del texto al pasar el mouse */
  }
  
main {
    min-height: 70%;
}

/* Estilos del footer */
footer {
    height: 15%;
    background-color: #fff;
    text-align: center;
    position: relative;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-left{
    align-items: center;
}

.footer-right{
    display: flex;
    align-items: center;
}

.footer-left p {
    margin: 10px 0;
}

.footer-line {
    background-color: #ccc;
    height: 1px;
    width: 90%;
    margin: 20px auto;
}

/* Estilos de los íconos de redes sociales */

.footer-right a img {
    width: 50px;
    height: 50px;
    margin: 7px;
}

/* Estilos del horario*/

.tituloHorario{
    text-align: center;
}

.horario {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* Se crea una cuadrícula con 6 columnas iguales */
    gap: 10px; /* Espacio entre los elementos de la cuadrícula */
    text-align: center;
    margin: 20px auto;
    max-width: 1200px;
}

.Lunes, .Martes, .Miercoles, .Jueves, .Viernes, .Sabado {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.claseDia {
    background-color: #FF9619; /* Cambia el color de fondo de las clases */
    color: #fff; /* Cambia el color del texto en las clases */
    padding: 10px;
    border: 1px solid #FF9619; /* Cambia el color del borde de las clases */
    border-radius: 5px; /* Añade bordes redondeados */
    margin: 5px; /* Añade espacio entre las clases */
    font-weight: bold; /* Aplica negrita al texto */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Agrega una sombra suave */
    transition: background-color 0.3s, color 0.3s; /* Agrega una transición de color suave al pasar el mouse */
}

.claseDia:hover {
    background-color: #fff; /* Cambia el color de fondo en hover */
    color: #FF9619; /* Cambia el color del texto en hover */
    cursor: pointer;
}


.contenedorBotonesMaterias{
    width: 400px;
    margin-left: 35%;
    display: flex;
    justify-content: space-between;
}

.botones {
    background-color: #FF9619;
    color: #fff;
    height: 45px;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.botones:hover {
    background-color: #ff6e1a96;;
    color: #fff;
}

.dia {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc; /* Borde para la casilla */
    padding: 5px; /* Espaciado interior */

    /* Añadir otros estilos según tus preferencias */
}

.nombre-dia {
    background-color: #ccc; /* Fondo del nombre del día */
    padding: 5px; /* Espaciado interior */
    text-align: center; /* Centrar el texto */
    font-weight: bold; /* Texto en negrita */
}
